:root{
    --primary-bg-color:#7469B6;
    --secondary-bg-color:#E1AFD1;
    --terciary-bg-color:#FFE6E6;
    --quaternary--bg--color:#FFFFFF;

    --primary-txt-color: #FFFFFF;
    --secondary-txt-color:#7469B6;
}


a {
    color: inherit;
    text-decoration: none;
}

.baseCss{
    margin: 0;
    padding: 0;
    /* padding to compensate the fixed navbar */
    padding-top: 70px;
    align-items: center;
}
.darkMode {
    background-color: black;
    color: white;
}

.borderRadius{
      border-radius: 6px;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-items: center
}

.mainDisplay{
    justify-content: center;
    width: 80%;
    gap: 50px;
}
/* navbar */
.navigation {
    background-color: var(--primary-bg-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100px;
    border-bottom: 4px solid black;
    justify-content:  space-between;
}
.navigation__home__img {
    cursor: pointer;
    height: 35px;
}
.navigation__darkmode__img{
    cursor: pointer;
    height: 45px;
}

.navigation__button{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.displayBlock{
    display: block;
}

.ulParent{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.liStyleNone {
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

/* hide submenu */
.navigation__ul__menu {
    position: relative;
    text-align: center;
    height: 60px;
    width: 100px;
    /* background-color: red; */
}

.hide__submenu {
    text-align: center;
    width: 100%;
    position: absolute;
    display: none;
}
.navigation__ul__menu:hover .hide__submenu {
    display: flex;
    flex-direction: column;
}

.navigation__submenu li{
    margin-top: 4px;
}

.hide {
    display: none;
}
.showFlex{
    display: flex;
}
.menu{
    /* background-color: red; */
    width: 260px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    display: block;
}
/* hamburger */

.menu__btnContainer__hamburgerContainer {
    width: 80px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

.menu__btnContainer__hamburgerContainer__hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


.menu__btnContainer__hamburgerContainer__hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: var(--quaternary--bg--color);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  

  .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(1), .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(2) {
    top: 0px;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(3), .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(4) {
    top: 18px;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(5), .menu__btnContainer__hamburgerContainer__hamburger span:nth-child(6) {
    top: 36px;
  }
  /* selects the child spans of menu__btnContainer__hamburgerContainer__hamburger if the open class is present */
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(1),.menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(2),.menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  
  .menu__btnContainer__hamburgerContainer__hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
  

.menu__btnContainer{
    width: 85%;
    height: 100px;
    justify-content: flex-end;
}

.menu__container{
    background-color: var(--secondary-bg-color);
    overflow: auto;
    width: auto;
    height: 100%;
    position: relative;
    border-left: 4px solid black;
    border-top: 4px solid black;
}
.menu__container__bar{
height: 100%;
width: 100%;
}
.menu__container__bar__list__element{
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: 10px;
    border-bottom: 5px solid var(--primary-bg-color);
    text-align: center;
}
.menu__container__bar__list__element:nth-of-type(1) {
    border-top: 5px solid var(--primary-bg-color);
}
.menu__container__bar__list__element:hover {
    background-color: var(--terciary-bg-color)
}


#darkModeBtn{
    height: 50%;
}


.main__title{
    border: 4px solid black;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    text-align: center;
    width: 300px;
}

.example__container{
    width: 100%;
    gap: 20px;
}
.example__container__title{
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    width: 100%;
    text-align: center;

}
.subtitle{
    text-align: center;
    color: var(--secondary-txt-color);
}
.paragraph{
    color: var(--secondary-txt-color);
}
.tryIt{
    background-color: var(--secondary-bg-color);
    color:var(--primary-txt-color);
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    gap: 20px;
}
.result{
    background-color: var(--quaternary--bg--color);
    color: var(--secondary-txt-color);
    border: 1px solid #ddd;
    border-left: 8px solid var(--primary-bg-color);
    overflow: auto;
    width: 80%;
    text-align: left;
    padding-left: 5px;
}

.example__container__code{
    background-color: var(--terciary-bg-color);
    color: var(--secondary-txt-color);
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.example__container__code__header{
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
}
.example__container__code__h3 {
    width: 80%;
}
.example__container__code__btn{
    height: 50%;
}
pre {
    background-color: var(--quaternary--bg--color); /* Light gray background */
    border: 1px solid #ddd; /* Gray border */
    border-left: 8px solid var(--primary-bg-color); /* W3Schools-like left border accent */
    /* padding: 10px; */
    overflow: auto; /* Add a horizontal scrollbar if needed */
    width: 80%;  
    padding-left: 8px;
}


.showMore{
    justify-content: center;
    background-color: var(--terciary-bg-color);
    color: var(--secondary-txt-color);
    width: 100%;
    cursor: pointer;
    background-image: repeating-linear-gradient(-45deg, var(--secondary-bg-color), var(--secondary-bg-color) 10px, transparent 10px, transparent 50px);
}
.flexDisplay{
    display: flex;
}
.hide {
    display: none;
}

footer{
    width: 100%;
    height: 100px;
    border-top: 2px solid black;
    margin-top: 50px;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}
.footer__ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
}

.generateContent{
    width: 100%;
    gap: 50px;
}


/* media query */

@media (max-width: 600px){
    
    .navigation__button{
        width: 45%;
    }
/*hamburger */
}