.baseCss{
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
}
.darkMode {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-items: center
}
.flexCenterHorizontally{
    display: flex;
    justify-content: center;
}
.mainDisplay{
    justify-content: center;
    width: 80%;
}
.navigation {
    width: 100vw;
    height: 100px;
}
.ulParent{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.listStyleBasic {
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

/* hide submenu */
.navigation .ulParent li {
    position: relative;
}

.hide {
    position: absolute;
    display: none;
}
.navigation .ulParent li:hover .hide {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}
